- load is_playable
- load check_tag

%table.table.table-striped
  %tbody
    - for content in contents
      - user_checked request.user content as checked
      %tr
        %td{style: "width: 1em;"}
          - if checked
            - format_date checked as date
            %i.fa.fa-check-circle{data-toggle: "tooltip", data-placement: "left", title: "#{ date }に視聴しました"}
        %td
          - is_playable content as playable
          - if playable
            %a{href: "{% url 'cms:watch' content.id %}"} #{ content.title }
          - else
            %a{href: "#{ content.filepath }"} #{ content.title }

- load define_action
- if is_paginated
  - if not page_obj.has_previous
    - define "disabled" as previous

  - if not page_obj.has_next
    - define "disabled" as next

  %ul.pagination.justify-content-center
    %li{class: "page-item #{ previous }"}
      %a.page-link{aria-label: "First", href: "?page=1"} &laquo;

    - if page_obj.has_previous
      %li.page-item
        %a.page-link{aria-label: "Previous", href: "?page=#{ page_obj.previous_page_number }"}
          #{ page_obj.previous_page_number }

    %li.page-item.disabled
      %a.page-link{aria-label: "Current"} #{ page_obj.number }

    - if page_obj.has_next
      %li.page-item
        %a.page-link{aria-label: "Next", href: "?page=#{ page_obj.next_page_number }"}
          #{ page_obj.next_page_number }

    %li{class: "page-item #{next}"}
      %a.page-link{aria-label: "Last", href: "?page=#{ page_obj.paginator.num_pages }"} &raquo;
