- load define_action
- if is_paginated
  - if not page_obj.has_previous
    - define "disabled" as previous

  - if not page_obj.has_next
    - define "disabled" as next

  %ul.pagination.center
    %li{class: "waves-effect #{ previous }"}
      %a{href: "?page=1"}
        %i.material-icons chevron_left

    - if page_obj.has_previous
      %li.waves-effect
        %a{href: "?page=#{ page_obj.previous_page_number }"}
          #{ page_obj.previous_page_number }

    %li.active
      %a #{ page_obj.number }

    - if page_obj.has_next
      %li.waves-effect
        %a{href: "?page=#{ page_obj.next_page_number }"}
          #{ page_obj.next_page_number }

    %li{class: "waves-effect #{next}"}
      %a{href: "?page=#{ page_obj.paginator.num_pages }"}
        %i.material-icons chevron_right
